<p1>Bubble sort is one of the simpler sorting algorithms to implement and is an O(n^2) sorting
    algorithm. The reason it is called Bubble Sort is because the larger elements tend to "bubble up" to
    the end of the array.
    If the array is already sorted then Bubble sort can operate in a best case running time of O(n). On
    the other hand the worst case scenario is if the array is in reverse sorted order in which the
    running time is still O(n^2).

    <br><br>The reason that Bubble Sort can potentially operate in O(n) time is that it checks to see if
    the array is already sorted when it runs. If it can make it to the end of the array and it sees that
    it is already sorted then it can exit.
</p1>