<p1> Insertion sort is an O(n^2) algorithm that has a best case of O(n). Insertion sort works by using
    two loops, the outer loop starts at the first element and increments until the end of the array,
    while the
    inner loop starts where the first loop ends + 1 position. Insertion sort will take the inner loop
    element and then keep swapping it backwards until it is inserted into its correct position in the
    array.

    <br><br>With insertion sort the outer loop is considered the sorted portion and the inner loop is
    considered the unsorted portion. As insertion sort progresses the elements in the inner loop will
    become
    part of the sorted outer loop.
</p1>