<p1> Merge Sort is an O(n log(n)) algorithm that recursively divdes an array into sorted subsets and
    then merges them back together. Merge sort uses three position holders to accomplish this, low
    element, high element
    and middle element. Each time merge sort calls itself it will call merge sort with low element to
    middle element and merge sort with middle element + 1 to the high element. The base case for merge
    sort is when the
    array to sort is of length 1. From here it will call the merge function where it will pass in two
    arrays and then merge them.

    <br><br> Merge sort being one of the more efficient algorithms is very useful in production
    applications. The downside of merge sort that it can require a lot of memory if an in place
    implementation is not used.
</p1>