<p1> Quick sort is an algorithm with an average case run time of O(n log(n)) and a worst case run time
    of O(n^2). Quick sort works by recursively selecting a pivot element and then placing elements
    lesser than
    the pivot to the left of the pivot and elements greater than the pivot to the right of the pivot.
    Quick sort recurisvely calls this organization around a pivot down until there is only one element.


    <br><br> There are various different implementations of how to select the pivot element but for the
    most part if the pivot is randomly selected then it has the best chance of keeping an O(n log(n))
    run time
    as the chance of pickingg the worst pivot element is evenly distributed.
</p1>