<div class="col-md-10">
<pre> <code>
class SelectionSort(object):
    def selection_sort(self, data_set):
        for sorted_index in range(0, len(data_set)):
            j = sorted_index + 1
            currentLowElementIndex = sorted_index
            swap = False
            while j < len(data_set):
                if data_set[j] < data_set[currentLowElementIndex]:
                    currentLowElementIndex = j
                    swap = True
                j = j + 1

            if swap:
                temp = data_set[sorted_index]
                data_set[sorted_index] = data_set[currentLowElementIndex]
                data_set[currentLowElementIndex] = temp
        return data_set
</code></pre>

</div>