<p1> Selection sort is an O(n^2 ) algorithm that uses a nested loop to divide the array into a sorted
    portion and an unsorted portion. Selection sort looks for the lowest possible element in the
    unsorted array,
    adds it to the sorted array and then increases the sorted array size by 1. The sorted array will
    continue to grow while the unsorted portion of the array keeps going down by 1.

    <br><br> Every time selection sort goes through the inner array it only needs to make comparisons
    equal to the number of elements in the unsorted portion of the array.
</p1>