<table align="center">
    <tr>
        <td>
            <input type="button" class='btn btn-primary' onclick="ExecuteSortService.executeSort('quicksort')" value="Quick Sort">
        </td>

        <td>
            <input type="button" class='btn btn-primary ' onclick="ExecuteSortService.executeSort('mergesort')" value="Merge Sort">
        </td>

        <td>
            <input type="button" class='btn btn-primary' onclick="ExecuteSortService.executeSort('bubblesort')" value="Bubble Sort">
        </td>
        <td>
            <input type="button" class='btn btn-primary' onclick="ExecuteSortService.executeSort('selectionsort')" value="Selection Sort">
        </td>
        <td>
            <input type="button" class='btn btn-primary' onclick="ExecuteSortService.executeSort('insertionsort')" value="Insertion Sort">
        </td>
    </tr>


</table>