<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div class="center-block" style="text-align:center;"><h1> Current array is:</h1></div>
<div id="dataset_display" class='center-block centerblueborder'>Please select array size</div>
<br>
<div id="time_display" class="center-block centerblueborder" style="word-wrap: break-word; text-align:center; width:40%; border-style: solid;
    border-width: 7px; border-color: lightblue; font-size: 30px;">Time to execute:
</div>
<div id="animate" class="center-block"></div>


<table align="center">
    <td>
        Choose the size of your array: <input type="text" name="user_array_size" id="user_array_size" style="text-align:center">
        &nbsp;
    </td>
    <td></td>
    <td>
        <input type="button" class='btn btn-success center-block' onclick="GetRandomDatasetService.getRandom()" value="Get new random array">
    </td>

    <td><input type="button" class='btn btn-success center-block' onclick="resetarray()" value="Unsort Array"></td>
    </tr>
</table>

<script type="text/javascript" src="/static/javascript/datasetUtility.js"></script>
<script type="text/javascript" src="/static/javascript/executeSortService.js"></script>
<script type="text/javascript" src="/static/javascript/getRandomDatasetService.js"></script>

<div id="token">{% csrf_token %}</div>
<div id="dataset_received" style="font-size:0px; visibility: hidden; "></div>
<div id="dataset_submit" style="font-size:0px; visibility: hidden; "></div>