<table align="center">
    <tr>
        <td>
            <input type="button" class='btn btn-primary' onclick="sortsubmit('quicksort')" value="Quick Sort">
        </td>

        <td>
            <input type="button" class='btn btn-primary ' onclick="sortsubmit('mergesort')" value="Merge Sort">
        </td>

        <td>
            <input type="button" class='btn btn-primary' onclick="sortsubmit('bubblesort')" value="Bubble Sort">
        </td>
        <td>
            <input type="button" class='btn btn-primary' onclick="sortsubmit('selectionsort')" value="Selection Sort">
        </td>
        <td>
            <input type="button" class='btn btn-primary' onclick="sortsubmit('insertionsort')" value="Insertion Sort">
        </td>
    </tr>


</table>