<div class="row" width="50%">
    <div class="col-sm-4">
        <h2>Quicksort</h2>

        <p>Quick sort uses a pivot element to recursively divide an array in to parts greater and less than the pivot
            element.
            Quick sort is an O(n log n) algorithm which means that in it's worse case it will sort
            a set in [size_of_set] * log([size_of_set])time...</p>

        <p><a class="btn btn-default" href="/about/quicksort" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Merge Sort</h2>

        <p>Merge sort recursively divides the set down to single elements and then merges them back into sorted sets.
            Merge sort is an O(n log n) algorithm which means that in it's worse case it will sort
            a set in [size_of_set] * log([size_of_set])time... </p>

        <p><a class="btn btn-default" href="/about/mergesort" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Bubble Sort</h2>

        <p>Bubble sort is widely considered one of the easiest to implement but also one of the slowest to run. For this
            reason it is often used as a first case
            solution before a more efficient algorithm can be utilized. Bubble sort is an O(n^2) algorithm...</p>

        <p><a class="btn btn-default" href="/about/bubblesort" role="button">View Details &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2>Selection Sort</h2>

        <p>Selection sort is an O(n^2 ) algorithm that uses a nested loop to divide the array into a sorted portion and
            an unsorted portion. Selection sort looks for the lowest possible element in the unsorted array...</p>

        <p><a class="btn btn-default" href="/about/selectionsort" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Insertion Sort</h2>

        <p>Insertion sort is an O(n^2) algorithm that has a best case of O(n). Insertion sort works by using two loops,
            the outer loop starts at the first element and increments until the end of the array, while the
            inner loop starts where the first loop ends + 1 position.</p>

        <p><a class="btn btn-default" href="/about/insertionsort" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Learn how this webpage was built</h2>

        <p>Learn about all the technologies and frameworks that work together in harmony in order to make this page
            run. </p>

        <p><a class="btn btn-default" href="/pythonabout" role="button">View details &raquo;</a></p>
    </div>

</div>