<script type="text/javascript">
function getrandom(){
    var url = "/sorting/choosesort/";
    var arraysize = 90;
    $('#div3').text(document.getElementById('div2').innerHTML)

    var node = document.getElementById('token');
    csrf_token = "{{ csrf_token }}";
    var arraysizeselect =  document.getElementById('arraysize').value;
    if (arraysizeselect == parseInt(arraysizeselect, 10) && arraysizeselect!=0)
    {
    $("#time").text("");
    $("#time").append("<img id='time' src='/static/css/ajax-loader.gif'/>");
    $.ajax({
           type: "POST",
           url: url,
           data: {arraysize: arraysizeselect,[p;
                  csrfmiddlewaretoken: csrf_token
                    },
           success: function(data)
           {

                $('#div2').text(data);
                 var shortarray = shortenArray(arraysize);
                 if (shortarray.length >=arraysize)
                 {   $('#div1').text(shortarray + "..."); }
                 else
                 {$('#div1').text(shortarray); }

                $('#div1').css({"font-size": "20px"});
                 $('#time').text("Time to Execute\:");
           },
           error: function(data)
           {
              //window.alert("in error");
              $('#time').text("Array too big: please enter a shorter array size");
              $('#time').css({"font-size": "20px"});
           }
         });

    return false; // avoid to execute the actual submit of the form.
    }
    else
    {
      $("#time").text("Please enter an integer for array size");
    }
}

function resetarray()
{

var arraysize = 90;
var lastarray = document.getElementById('div3').innerHTML

if (lastarray.length ==0)
{ }
else
{
 $('#div2').text(lastarray);
var shortarray = shortenArray(arraysize)

 if (shortarray.length >=arraysize)
    {   $('#div1').text(shortarray + "..."); }
 else
    {$('#div1').text(shortarray); }

 $('#time').text("Time to Execute\:");
}

}
function shortenArray(arrayLength)
{ //window.alert("in shorten");
   var temp = new Array();
   htmlContent = document.getElementById('div2').innerHTML;
   //htmlContent = htmlContent.substring(1, htmlContent.length-1);
   //window.alert("html content is" + htmlContent);
   var newarray = new Array();

   temp = htmlContent.split(',');
  // window.alert("temp is:" + temp);
   //window.alert("temp.length is " + temp.length)
   var i = 0;

   for (a in temp )
   {
   //window.alert("a is " + a);
   //window.alert("new array at A is " + temp[a]);
   newarray[a] = parseInt(temp[a], 10);
   if (a>= arrayLength-1)
   {break; }
   }
// window.alert("new array is" + newarray)
 return newarray;
}


</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
function sortsubmit(sortname){
    var url = "/signups/" + sortname +"/";
    csrf_token = "{{ csrf_token }}";
    var arraysize = 90;
    $('#div3').text(document.getElementById('div2').innerHTML);
    var array = createArray();
    var timeout = 30000

    $("#time").text("");
    $("#time").append("<img id='time' src='/static/css/ajax-loader.gif'/>");
    $.ajax({
           type: "POST",
           url: url,
           data: {array: JSON.stringify(array),
                  csrfmiddlewaretoken: csrf_token
                    },

           success: function(data)
           {    //window.alert("in success!")
                var getData = JSON.parse(data);

                if(getData.error != "timeout")
                {
                //window.alert("return array is" + getData.array);
                //window.alert("getdata array" + getData.array);
                $('#div2').text(getData.array);
                 var shortarray = shortenArray(arraysize);
                 if (shortarray.length >=arraysize)
                 {   $('#div1').text(shortarray + "..."); }
                 else
                 {$('#div1').text(shortarray); }


                $('#div1').css({"font-size": "20px"});


                $('#time').text("Time to execute: " + getData.time);
                $('#time').css({"font-size": "20px"});
                }
                else
                {
                 $('#time').text("There was a timeout error after " + getData.time + " seconds. Please try a shorter array");
                 $('#time').css({"font-size": "20px"});
                }
           },
           error: function (data)
           {
                 $('#time').text("Array too large, please enter a shorter array");
                 $('#time').css({"font-size": "20px"});
           }


         });

    return false; // avoid to execute the actual submit of the form.
}

function createArray()
{
   var node = document.getElementById('div2')

   htmlContent = node.innerHTML

   var temp = new Array();0
   temp = htmlContent.split(',');
   //window.alert("temp is: " + temp);
   for (a in temp ) {
   temp[a] = parseInt(temp[a], 10);
   }

 return temp
}


</script>


<div class="center-block" style="text-align:center;"><h1> Current array is:</h1></div>
<div id="div1" class='center-block centerblueborder'>Please select array size</div>
<br>
<div id="time" class="center-block centerblueborder" style="word-wrap: break-word; text-align:center; width:40%; border-style: solid;
    border-width: 7px; border-color: lightblue; font-size: 30px;">Time to execute:
</div>
<div id="animate" class="center-block"></div>


<table align="center">
    <td>
        Choose the size of your array: <input type="text" name="arraysize" id="arraysize" style="text-align:center">
        &nbsp;
    </td>
    <td></td>
    <td>
        <input type="button" class='btn btn-success center-block' onclick="getrandom()" value="Get new random array">
    </td>

    <td><input type="button" class='btn btn-success center-block' onclick="resetarray()" value="Unsort Array"></td>
    </tr>
</table>


<div id="token">{% csrf_token %}</div>
<div id="div2" style="font-size:0px; visibility: hidden; "></div>
<div id="div3" style="> font-size:0px;visibility: hidden;"></div>



