{% extends 'base.html' %}


{% block jumbotron %}
{% include 'navbar.html' %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-8">
                <p1> Insertion sort is an O(n^2) algorithm that has a best case of O(n). Insertion sort works by using
                    two loops, the outer loop starts at the first element and increments until the end of the array,
                    while the
                    inner loop starts where the first loop ends + 1 position. Insertion sort will take the inner loop
                    element and then keep swapping it backwards until it is inserted into its correct position in the
                    array.

                    <br><br>With insertion sort the outer loop is considered the sorted portion and the inner loop is
                    considered the unsorted portion. As insertion sort progresses the elements in the inner loop will
                    become
                    part of the sorted outer loop.
                </p1>
                <p1><a class="btn btn-primary btn-lg" href="#sortutility" role="button">Use Insertion Sort &raquo;</a>
                </p1>
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block content %}
<a name="sortutility"><h1 style="padding-top: 40px; margin-top: -40px;"></h1></a>
{% include 'sortutility.html' %}
{% include 'insertionsortbutton.html' %}
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
<pre> <code>
    #with comments
    def insertionSort (listIn):
    # loop through the array starting at position 1 (2nd spot in array) to length of the array -1
    # (in range function stops before 2nd parameter)
    #outer loop
    for i in range(1,len(listIn)):
    #set inner loop to match start of outer loop
    j=i
    #go backwards through array swap lower elements continously to the beginning of the array
    while j >=1 and listIn[j] < listIn[j-1]:
    temp = listIn[j-1]
    listIn[j-1] = listIn[j]
    listIn[j] = temp
    j=j-1
    return listIn
</code></pre>
        <br>
<pre> <code>
    #without comments
    def insertionSort (listIn):
    for i in range(1,len(listIn)):
    j=i
    while j >=1 and listIn[j] < listIn[j-1]:
    temp = listIn[j-1]
    listIn[j-1] = listIn[j]
    listIn[j] = temp
    j=j-1
    return listIn
</code></pre>
    </div>
    <div class="col-md-1"></div>
</div>

{% include 'table.html' %}

{% endblock %}