{% extends 'base.html' %}
{% block jumbotron %}
{% include 'navbar.html' %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-8">
                {% 'text/bubblesort_description.html' %}
                <p1><a class="btn btn-primary btn-lg" href="#sortutility" role="button">Use Bubble Sort &raquo;</a></p1>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block content %}
<a name="sortutility"><h1 style="padding-top: 40px; margin-top: -40px;"></h1></a>
{% include 'sortutility.html' %}

{% include 'bubblesortbutton.html' %}

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
    {% 'text/bubblesort_code_snippet.html' %}
    </div>
    <div class="col-md-1"></div>
</div>

{% include 'table.html' %}

{% endblock %}